!!! 5
%html{ :xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en" }
  %head
    %title
      ios road by cloud
    %meta{ :charset => 'utf-8' }
    %link{ :href => '/images/favicon.png', :rel => 'icon', :type => 'image/png' }
    = yield_content :head
  %body
    = yield
