!!! 5
%html{ :xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en" }
  %head
    %title
      ios road by cloud
    %meta{ :charset => 'utf-8' }
    %link{ :href => '/images/favicon.png', :rel => 'icon', :type => 'image/png' }
    %link{ :rel => 'stylesheet', :href => '/css/common.css', :type => 'text/css' }
    = yield_content :head
  %body
    #content
      %header{ :class => 'site-header', :role => 'banner'}
        %hgroup
          %h1 
            %span
              %a{ :href => '/', :title => 'Pattern', :rel => 'home'} Pattern
          %h2 coding是一种修行, 一种走向混乱的修行
      #main
        = yield
      %footer{ :role => 'contentinfo'}
        %div
          Power by 
          %a{ :href => '/about-me', :title => 'cloud'} @cloud
